.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
 
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
.top-left {
    letter-spacing: 8px;
    margin-top: 50px;
    margin-left: 40px;
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .top1-left {
   letter-spacing: 8px;
    margin-top: 120px;
    margin-left: 40px;
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .top2-left {
    letter-spacing: 2px;
     margin-top: 250px;
     margin-left: 40px;
     position: absolute;
     top: 8px;
     left: 16px;
   }
   .top3-left {
    letter-spacing: 2px;
     margin-top: 280px;
     margin-left: 40px;
     position: absolute;
     top: 8px;
     left: 16px;
   }
   .top4-left {
    letter-spacing: 2px;
     margin-top: 310px;
     margin-left: 40px;
     position: absolute;
     top: 8px;
     left: 16px;
   }
  
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .page-footer font-small blue pt-4{
      margin: 0px;
      padding-top: 0%;
     background-color: rgb(167, 161, 250);
  }